:root {
  --main-color-1: #F3F2F0;
  --main-color-2: #9597A6;
  --main-color-3: #F76860;
  --main-color-4: #937B72;
  --main-color-5: #161D2A;
}

.text-color-1 {
  color: var(--main-color-1);
}

.text-color-2 {
  color: var(--main-color-5);
}

.text-color-3 {
  color: var(--main-color-3);
}

.jumbotron-dark-blue-background {
  background-color: var(--main-color-5) !important;
}

.jumbotron-white-background {
  background-color: var(--main-color-1) !important;
}

.orange-background {
  background-color: var(--main-color-3);
}

.dark-blue-background {
  background-color: var(--main-color-5);
}

@media only screen and (max-width: 700px) {
  .col-2 {
    display: none;
  }
  .col-10 {
    margin-left: 20px;
  }
}
